{% extends "base.html" %}
{% block content %}
    <script src="{{ STATIC_URL }}messages.js" type="text/javascript"></script>
    <h1>What would you like to do?</h1>
    <div>
        <h3>Invite friend to play.</h3>
            {% if form.errors %}
                <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
                {{ form.errors }}
            {% endif %}
        <form method="POST" action=".">
            {% csrf_token %}
            <label for="email">{{ form.email.label }}:</label>{{ form.email }}
            <input type="submit" value="Send Invite" />
        </form>
    </div>
    <div>
        <h3>Play against the computer.</h3>
        <a href="{% url create_computer_game %}">Start Game</a>
    </div>
{% endblock %}
{% block content-related %}
<div class="box">
    <h3>Game List</h3>
    <ul>
    {% if games %}
        {% for game in games %}
            <li>
            vs <a href="{% url view_game game.id %}">
                {% if user == game.player1 %}
                    {{ game.player2 }}
                {% else %}
                    {{ game.player1 }}
                {% endif %}
            </a>
                {% with board=game.get_board %}
                    {% with winner=board.get_winner %}
                        {% if winner %}
                            {% if winner == "X" %}
                                (winner: {{ game.player1 }})
                            {% else %}
                                (winner: {{ game.player2 }})
                            {% endif %}
                        {% endif %}
                        {% with moves=board.get_valid_moves %}
                            {% if not moves %}
                                (tie)
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
            </li>
        {% endfor %}
    {% else %}
        No Games
    {% endif %}
    </ul>
</div>
{% endblock %}
