{% extends "base.html" %}
{% block messages %}
    {% if board.is_game_over %}
        {% with board.get_winner as winner %}
            {% if winner %}
                The winner is: {{ board.get_winner }}
            {% else %}
                Its a tie!
            {% endif %}
        {% endwith %}
    {% else %}
        {% if current_player == player %}
            Your turn!
        {% else %}
            Your opponents turn!
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    {% load custom_filters %}
    <script type="text/javascript">
        var create_move_url = "{% url create_move game.id %}";
        var player = "{{ player }}";
        var current_player = "{{ current_player }}";
        var winner = "{{ board.get_winner }}";
        var game_over = {{ board.is_game_over|lower }};
        var playing_computer = "{{ playing_computer }}";
        var game_id = {{ game.id }};
    </script>

    <script src="{{ STATIC_URL }}messages.js" type="text/javascript"></script>

    <h1>Have Fun!</h1>
    <div id="playagain" class="hide">
        <a href="/">Play Again?</a>
    </div>

    <br class="clear" />
    {% for row in board.pieces %}
        <div class="cell" id="cell{{ forloop.counter0 }}" onclick="MakeMove(this, '{{ forloop.counter0 }}')">
            {{ row }} 
        </div>
        {% if forloop.counter|divisibleby:3 %}
            <br class="clear" />
        {% endif %}
    {% endfor %}
{% endblock %}
